Flask==2.2.2
Flask-SocketIO==5.3.3
eventlet==0.33.3
requests==2.28.1
spacy==3.5.1
beautifulsoup4==4.11.1
PyMuPDF==1.21.1
serpapi==2.0.0
summa==1.2.0
urllib3==1.26.12
flask-cors==5.0.0
flask-limiter==3.8.0
flask-talisman==1.1.0
bleach==6.2.0
